

html, body, div {
    padding: 0;
    margin: 0;
    // font-family: sans-serif;
    background-color: white;
  }
 

  .nav-bar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-bottom: 0.5px solid rgb(201, 113, 113);
    background: white;
    align-items: center;
    height: 56px;
    border: 0;
    z-index: 10;
    // border-bottom: 0.5px solid rgb(196, 196, 196);
  }


    .logo-and-menu-icon {
      display: flex;
      min-width: 20vw;
      // justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
    .menu-icon{
      width: 30px; 
      min-width: 30px;
      height: 25px;
      min-height: 25px;
      color: rgb(2, 0, 0);
      margin-left: 10px;
      }

    .logo {
        font-family: sans-serif;
        margin-left: 20%;
        transition: all 0.1s ease-in-out;
        min-width: 5vw;
      }
    .logo:hover{
        transform: scale(1.2);
      }
    
    .ya {
        padding-right: 5px;
        letter-spacing: -5px;
        text-shadow: 0 2px 0 white;
        text-decoration: none;
        font-size: 25px;
        color: black;
        font-weight: bold;
      }


    .tube {
        position: center;
        font-weight: 800;
        font-size: 25px;
        padding: 0 14px 0 6px;
        font-family: sans-serif;
        background-image: -webkit-linear-gradient(bottom, rgb(109, 2, 2) 22%, rgb(201, 0, 0) 61%);
        background-image: -moz-linear-gradient(bottom, rgb(109, 2, 2) 22%, rgb(201, 0, 0) 61%);
        background-image: -o-linear-gradient(bottom, rgb(109, 2, 2) 22%, rgb(201, 0, 0) 61%);
        background-image: -ms-linear-gradient(bottom, rgb(109, 2, 2) 22%, rgb(201, 0, 0) 61%);
        background-image: linear-gradient(bottom, #6D0202 22%, rgb(201, 0, 0) 61%);
        color: #fff;
        letter-spacing: -6px;
        text-shadow: 0 3px 0 #000;
        border-radius: 50% / 11%;
        box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.67);
        text-decoration: none;
      }


    // search and create icon
    .search-bar-and-icon{
      display: flex;
      
    }


    .search-bar {
          display: flex;
          position: relative;
          align-items: center;
          height: 40px;
          // max-height: 6vh;
          // width: 650px;  
          width: 55vw;
          // max-width: 650px;  
          // min-width: 300px;
          // margin-top: 5px;   
          background: white;
          border-right: 0;
          border: solid rgb(196, 196, 196) 1px;
          border-radius: 2px;
      

    }
    .search-button{
          background-color: rgb(248, 248, 248);
          height: 40px;
          max-height: 40px;
          width: 6vw;
          // max-width: 6vw;
          display: flex;
          border-left: 1px solid rgb(196, 196, 196);
          border-bottom: none;
          border-top: none;
          border-right: none;
    }
          .search-icon{
            width: 26px; 
            min-width: 20px;
            height: 26px;
            min-height: 20px;
            color: rgb(2, 0, 0);
            display: flex;
            align-items: center;
            margin-left: 20%;
            margin-top: 5px;
          }
          .search-input {
            flex: 1;
            height: 50%;
            border: none;
            outline: none;
            font-size: 17px;
            margin-left: 10px;
          }

  .camera-icon-and-session-btn{
    display: flex;
    // margin-right: 10px;
    width: 27vw;
    height: 56px;
    // padding-top: 5px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .camera-icon{
      width: 30px; 
      height: 30px;
      color: rgb(2, 0, 0);
      margin-left: 5vw;
    }

  .session-bar{
  display: flex;
  // float: right;
  width: 15vw;
  max-width: 15vw;
   height: 56px;
  max-height: 56px;
  align-items: center;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 15px;
  // background-color: aqua;
}
  .btn-sign-up {
    background-color: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    // max-height: 10vh;
    width: 60px;
    // max-width: 5vw;
    // height: 10px;
    // width: 5vw;
    box-shadow: 1px 1px 1px 1px rgb(164, 164, 167);
    text-decoration:rgb(25, 25, 26);
    border-radius: 10%;
    background-color: rgb(248, 246, 246);
    // margin-top: px;  
    margin-left: 20px;
    margin-right: 10px;
  }
  // .sign-up{
  //   padding-top: 10px;
  // }
  .btn-sign-up:hover {
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 1px 1px rgb(66, 66, 66);
  }

  .btn-sign-in{
    background-color:transparent;
    border: 0.5px solid #2577e2;
    color: #2577e2;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row; 
    border-radius: 2px;
    cursor: pointer;
    height: 38px;
    min-height: 38px;
    width: 10vw;
    min-width: 10vw;
  
  }
  .Sign-in-icon{
    height: 25px;
    min-height: 20px;
    width: 25px;
    min-width: 20px;
    margin-left: 10%;
    margin-right: 5%;
  }

  .sign-in-font{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #2577e2;

  }

   .btn-sign-out{
    background-color:transparent;
    // border: 0.5px solid #2577e2;
    border: none;
    color: #2577e2;
    // text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    // justify-content: space-between;
    border-radius: 2px;
    cursor: pointer;
    height: 38px;
    width: 10vw;
   }    
      .Sign-out-icon{
    height: 40px;
    min-height: 20px;
    width: 40px;
    min-width: 20px;
    margin-left: 10%;
    margin-right: 7%;
  }

  .sign-out-font{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #2577e2;
    // font-weight: bold;
  }


    
  
    