
.session-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  // padding-top: 3%;
  
}

      .session-logo-img{

        width: 25%;
        padding-bottom: 30px;
      }

      .title{
        font-family:'Raleway', sans-serif;
        font-size: 40px;
        font-weight: bold;
      }
      .sub-title{
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
      }

      .content-form {
        height: 90%;
        width: 50%;
        border: 0.5px solid #ccc;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      }

            .lables {
              // background-color: rgb(242, 247, 248);
              background-color: white;
              height: 30%;
              width: 100%;
            
              display: flex;
              flex-direction: column;
              justify-content: center;
              // border-top: 0.5 solid rgb(235, 233, 233);
              // border-bottom: 0.5 solid rgb(235, 233, 233);
            }

                    .input-form{
                      font-family: 'Raleway', sans-serif;
                      font-size: 50px;
                      display: flex;
                      justify-content: center;
                      height: 30%; 
                      width: 100%;  
                      // border-top: 0.5 solid rgb(235, 233, 233);
                      // border-bottom:0.5 solid rgb(235, 233, 233);             
                    }
                    .input {
                    width: 80%;
                   
                   }
              
              .error-icon{
                width: 17px;
                height: 17px;
                color: red;
                margin-right: 2px;

              }
              .error-messages{
                padding-top: 2px;
                
              }
              
              .signin-errors{
                font-family:Arial, Helvetica, sans-serif;
                margin-left: 9%;
                font-size: 13px;
                color: red;
                display: flex;
                // flex-direction: column;
                // padding-top: 5px;
              }

              .signup-errors{
                font-family:Arial, Helvetica, sans-serif;
                // margin-left: 9%;
                font-size: 13px;
                color: red;
                display: flex;
                flex-direction: column;
              }

              .signup-error{
                display: flex;
              
              }
            .button{
              background-color: #066df5;
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 20px;
              margin: 4px 2px;
              border-radius: 5px;
              cursor: pointer;
            }
            .button:hover {
              background-color: rgb(152, 212, 250);
              box-shadow: 1px 1px 1px rgb(66, 66, 66);
              }


            .button2{
              background-color: transparent;
              border: none;
              color: #066df5;
              // padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
             font-family: Arial, Helvetica, sans-serif;
              font-size: 17px;
              // margin: 4px 2px;
              // border-radius: 5px;
              cursor: pointer;
              // border-bottom: 1px solid blue;
            }

            .signup-and-demo-user-session{
              display: flex;
              justify-content: space-between;
              width: 30vw;
              margin-top: 5%;
              font-family: Arial, Helvetica, sans-serif;
              border: none;
            }
            .signup-link{
              // border-bottom: 1px solid black;
              color: #066df5;
            }
           
           .login-page-demo-user{
             border: none;
            //  width: 15vw;
             background-color: transparent;
            //  border-bottom: 1px solid rgb(0, 0, 3);
            // font-family:Verdana, Geneva, Tahoma, sans-serif;
            font:inherit;
            font-size: 15px;
            cursor: pointer;
            color: #066df5;
          }

        

  

