// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.v-s-p-likes-buttons{
    display: flex;
}

.icon-after-click {
    color: red;
}

.icon-before-click {
    color: black;
}