.sidebar-parent{
    height: 0px;
}

.sidebar-content{
    margin-bottom: 50px;
}

.side-bar{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 300px;
    width: 100px;
    margin-top: 80px;
    margin-left: 20px;
    text-align: center;

}

.sidebar-icon{
    width: 60px; 
    height: 50px;
    // margin-bottom: 20px;
    color: rgb(90, 89, 89); 
    transition: all 0.1s ease-in-out;
    margin-bottom: 3px;
    margin-left: 18px;
}
.sidebar-icon:hover{
    transform: scale(1.2);
}

.sidebar-icon-words {
    margin-bottom: 60px;
    margin-left: 12px;
    text-decoration: none;
    font-size: 25px;
    margin-top: 5px;
}



