


// -------------------------- video index page ----------------------------

// .video-index-page{
    
//     // background-color: rgb(245, 245, 244);
     
// }

.video-lines {
 background-color: rgb(245, 245, 244);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    // margin-left: 80px;
    // margin-right: 100px;
    margin-bottom: 25%;
    padding-top: 100px;
    // margin-top: 150px;
    
}

.video-index-item-page{
    // background-color: rgb(245, 245, 244);
    background-color: transparent;
//    margin-top: 100px;
    display: flex;
    // width: 400px;
    width: 30vw;
    height: 45vh;
    // border-top: 2.5px solid rgb(211, 209, 209);
}
.video-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30vw;
    height: 45vh;
    //will not shrink in to the side bar
    margin-left: 100px;
    // background-color: transparent;
    background-color: transparent;
    // margin-bottom: 0%;
    // padding-top: 20px;
    // border-top: 1px solid rgb(172, 172, 171);
    // border-bottom: none;

}
        .group-video-each{
            // height: 200px;
            // width: 300px;
            height: 25vh;
            width: 25vw;
            display: flex;
            background-color: black;
            margin-right: 5px;
            flex-wrap: wrap;
           
        }

        .group-video-title-container{
            width: 300px;
            margin-top: 10px;
            // margin-left: 40px;
            margin-bottom: 5%;
            // background-color: rgb(245, 245, 244);
            background-color: transparent;
        }


            .group-video-title{
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
                color: rgb(23, 23, 23); 
                margin-bottom: 10px;
                background-color: transparent;
            }

            .group-video-creator{
                font-size: 13px;
                font-family: 'Roboto', sans-serif;
                color: rgb(83, 82, 82); 
                // margin-bottom: 10px;
                background-color: transparent;

            }




//--------------------------------- single video show page  ----------------------------------
        .video-show-page {
            display: flex;
            justify-content: space-between;
            flex-direction: row;          
            margin-left: 30px;
            // margin-right: 100px;
            // margin-bottom: 1000px;   
        }
                .video-container {
                        margin-bottom: 500px;
                        cursor: pointer;
                        // height: 800px;
                        // width: 700px;
                        height: 58vh;
                        width: 55vw;
                    }

                .singleVideo {
                        height: 58vh;
                        width: 55vw;
                        background-color: black;
                        align-self: flex-start;
                        margin-top: 10%;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: flex-end;
                    }

                .video-title-section{   
                    margin-top: 10px;
                    margin-bottom: 40px;
                    margin-left: 5px;
                    margin-right: 0px;
                    // width: 700px;
                    // height: 55vh;
                    width: 55vw;
                    height: 160px;
                    border-bottom: 0.5px solid rgb(212, 210, 210);
  
                }
                .video-title-container {
                    // width: 700px;
                    width: 55vw;
                    margin-top: 60px;
                    margin-bottom: 30px;
                }

                    .video-title {
                        font-size: 30px;
                        font-family: 'Roboto', sans-serif;
                        // width: 700px;
                        width: 55vw;
                        height: 30px;
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-start;
                        color: rgb(10, 10, 10);
                        padding-right: 8px;
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }


                    .video-view-count-container{
                        // width: 700px;
                        width: 55vw;
                        display: flex;
                        justify-content: space-between;   
                        border-bottom: 1px solid rgb(180, 179, 179) 1px;
                    }

                        .video-view-count{
                            font-size: 15px;
                            font-family: 'Roboto', sans-serif;
                            color: rgb(122, 122, 122);       
                        }
                        .video-likes-icons {
                            display: flex;
                            justify-content: space-between;
                            // width: 300px;
                            width: 30vw;
                            // margin-right: 0px;
                        }
                            .icon{
                                width: 5vw; 
                                height: 3vh;
                                color: rgb(10, 10, 10);
                            }
                            .inner-content{
                                display: flex;
                                justify-content: space-between;
                            }
                            .likes-num{
                                font-size: 15px;
                                font-family: 'Roboto', sans-serif;
                                color: rgb(10, 10, 10);

                            }

            .video-description-section{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                // width: 700px;
                width: 55vw;
                height: 160px;
            }

            .content{
                display: flex;
                flex-direction: column;
                // align-items: center;
                justify-content: space-between;
                width: 48vw;
                height: 160px;
                margin-top: 30px;
            }

            .user-profile-img{
                margin-top: 40px;
                width: 6vw;
                height: 10vh;
            }

          

                .description-container{
                    display: flex;
                    justify-content: space-between;

                }
                .creator{
                    margin-top: 20px;
                }

                .creator-name{
                    font-size: 20px;
                    font-family: 'Roboto', sans-serif;
                    color: rgb(10, 10, 10);
                    font-weight: bold;
                    margin-top: 20px;
                }

                .subscribe-button{
                    background-color: #c70a04;
                    border: none;
                    color: rgb(252, 249, 249);
                    // padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 13px;
                    font-weight: bolder;
                    // margin: 4px 2px;
                    border-radius: 2px;
                    cursor: pointer;
                    height: 5.5vh;
                    width: 11vw;
                    margin-top: 30px;
                }

                .description-content{
                    display: flex;
                    margin-top: 50px;
                }

                .video-description{
                    font-size: 20px;
                                font-family: 'Roboto', sans-serif;
                                color: rgb(10, 10, 10);
                }








    

    
    

    
