


// -------------------------- video index page ----------------------------

// .video-index-page{
    
//     // background-color: rgb(245, 245, 244);
     
// }

.video-lines {
 background-color: rgb(245, 245, 244);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    // margin-left: 80px;
    // margin-right: 100px;
    margin-bottom: 25%;
    padding-top: 100px;
    // margin-top: 150px;
    
}

.video-index-item-page{
    // background-color: rgb(245, 245, 244);
    background-color: transparent;
//    margin-top: 100px;
    display: flex;
    // width: 400px;
    width: 30vw;
    height: 45vh;
    // border-top: 2.5px solid rgb(211, 209, 209);
}
.video-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30vw;
    max-width: 30vw;
    height: 45vh;
    max-height: 45vh;
    //will not shrink in to the side bar
    margin-left: 100px;
    background-color: transparent;
  

}
        .group-video-each{
            // height: 200px;
            // width: 300px;
            height: 25vh;
            max-height: 25vh;
            width: 24vw;
            max-width: 24vw;
            display: flex;
            background-color: black;
            margin-right: 5px;
            flex-wrap: wrap;
           
        }

        .group-video-title-container{
            width: 300px;
            margin-top: 10px;
            // margin-left: 40px;
            margin-bottom: 5%;
            // background-color: rgb(245, 245, 244);
            background-color: transparent;
        }


            .group-video-title{
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
                color: rgb(23, 23, 23); 
                margin-bottom: 10px;
                background-color: transparent;
            }

            .group-video-creator{
                font-size: 13px;
                font-family: 'Roboto', sans-serif;
                color: rgb(83, 82, 82); 
                // margin-bottom: 10px;
                background-color: transparent;

            }




//--------------------------------- single video show page  ----------------------------------
        .video-show-page {
            display: flex;
            // justify-content: space-between;
            flex-direction: row;          
            margin-left: 30px;
            // margin-right: 100px;
            margin-bottom: 50%;   
        }
                .video-container {
                        margin-bottom: 500px;
                        cursor: pointer;
                        // height: 800px;
                        // width: 700px;
                        height: 58vh;
                        width: 55vw;
                    }

                .singleVideo {
                        height: 58vh;
                        width: 55vw;
                        background-color: black;
                        align-self: flex-start;
                        margin-top: 10%;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: flex-end;
                    }

                .video-title-section{   
                    margin-top: 10px;
                    margin-bottom: 10%;
                    margin-left: 5px;
                    margin-right: 0px;
                    // width: 700px;
                    // height: 55vh;
                    width: 55vw;
                    height: 160px;
                    border-bottom: 0.5px solid rgb(212, 210, 210);
  
                }
                .video-title-container {
                    // width: 700px;
                    width: 55vw;
                    margin-top: 60px;
                    margin-bottom: 30px;
                }

                    .video-title {
                        font-size: 30px;
                        font-family: 'Roboto', sans-serif;
                        // width: 700px;
                        width: 55vw;
                        height: 30px;
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-start;
                        color: rgb(10, 10, 10);
                        padding-right: 8px;
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }


                    .video-view-count-container{
                        // width: 700px;
                        width: 55vw;
                        display: flex;
                        justify-content: space-between;   
                        border-bottom: 1px solid rgb(180, 179, 179) 1px;
                    }

                        .video-view-count{
                            font-size: 15px;
                            font-family: 'Roboto', sans-serif;
                            color: rgb(122, 122, 122);       
                        }
                        .likes-button{
                            text-decoration: none;
                            border: none;
                            background-color: transparent;
                        }
                        .video-likes-icons {
                            display: flex;
                            justify-content: space-between;
                            // width: 300px;
                            width: 30vw;
                            // margin-right: 0px;
                        }
                            .icon{
                                width: 5vw; 
                                height: 3vh;
                                color: rgb(10, 10, 10);
                            }
                            .inner-content{
                                display: flex;
                                justify-content: space-between;
                            }
                            .likes-num{
                                font-size: 15px;
                                font-family: 'Roboto', sans-serif;
                                color: rgb(10, 10, 10);

                            }

            .video-description-section{
                // display: flex;
                // justify-content: space-between;
                // flex-direction: row;
                // // width: 700px;
                // width: 55vw;
                // height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 55vw;
                height: 500px;
                margin-bottom: 50%;
                // background-color: crimson;
                border-bottom: 1px solid black;
            }
            .v-d-s-1{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                // width: 700px;
                width: 55vw;
                height: 250px;
                border-bottom: 0.5px solid #d4d2d2;
                // background-color: darkmagenta;
            }

            .content{
                display: flex;
                flex-direction: column;
                // align-items: center;
                justify-content: space-between;
                width: 48vw;
                height: 50px;
                // margin-top: 10px;
            }

            .user-profile-img{
                // margin-top: 40px;
                width: 6vw;
                height: 10vh;
            }

                .description-container{
                    display: flex;
                    justify-content: space-between;

                }
                // .creator{
                //     // margin-top: 20px;
                // }

                .creator-name{
                    font-size: 15px;
                    font-family: 'Roboto', sans-serif;
                    color: rgb(10, 10, 10);
                    font-weight: bold;
                    margin-top: 20px;
                }

                .subscribe-button{
                    background-color: #c70a04;
                    border: none;
                    color: rgb(252, 249, 249);
                    // padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 13px;
                    font-weight: bolder;
                    // margin: 4px 2px;
                    border-radius: 2px;
                    cursor: pointer;
                    height: 5.5vh;
                    width: 11vw;
                    margin-top: 8%;
                }

                .description-content{
                    display: flex;
                    margin-top: 10%;
                }

                .video-description{
                    font-size: 15px;
                    font-family: 'Roboto', sans-serif;
                    color: rgb(10, 10, 10);
                }

                .v-d-s-2{
                    color: rgb(2, 0, 0);
                    // display: block;
                    display: flex;
                    flex-direction: column;
                     height: 30vh;
                     margin-bottom: 10%;
                     margin-top: 5%;
                    border-bottom: 0.5px solid #d4d2d2;
                     
                }

                .comments-section{
                     font-family: 'Roboto', sans-serif;
                     font-size: 17px;
                }
                .img-and-comment-input{
                    display: flex;
                }
                .comment-user-profile-img{
                    width: 6vw;
                    height: 10vh;
                    margin-top: 3%;

                }
                .input-box-and-buttons{
                    display: flex;
                    flex-direction: column;
                    margin-top: 5%;
                    width: 50vw;
                    float: right;
                }
                .comments-input{
                    // background-color: darkmagenta;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 0.5px solid black;
                    // float: right;
                    
                }
                .comment-imput-buttons{
                    float: right;
                    width: 50vw;
                    // border: none;

                    // margin-left: 70%;
                    // display: flex;
                    // flex-direction: row;
                    // align-items: center;
                }
                .actual-button-cancel{
                    // background-color: #d4d2d2;
                    float: right;
                    background-color: transparent;
                    color: #474646;
                    border: none;
                    font-size: 13px;
                    border-radius: 2px;
                    cursor: pointer;
                    height: 6vh;
                    width: 10vw;
                    margin-top: 1%;
                }
                .actual-button-comment{
                    float: right;
                    color: #928f8f;
                    border: none;
                    font-size: 13px;
                    border-radius: 2px;
                    cursor: pointer;
                    height: 6vh;
                    width: 10vw;
                    margin-top: 1%;
                    

                }
                .comment-imput-buttons > .actual-button {
                    float: inherit;
                    border: none;
                }


        .v-d-s-3{
            display: flex;
            flex-direction: row;
            // margin-bottom: 100%;
        }

        .comment-container{
            height: 10vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            // margin-top: 5%;
            
        }
        .commenter-name{
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
        }
        .comment-likes{
            font-size: 20px;

        }


// -------------------- show page index videos ---------------
 .show-page-video-index{
     margin-top: 10%;
 }
 .show-page-side-videos{
     display: flex;
     flex-direction: row;
     width: 40vw;
 }
 .show-page-video-lines{
     margin-top: 30%;
     margin-left: 10%;
    width: 20vw;
    height: 20vh;
    background-color: rgb(2, 0, 0);
 }
.show-page-index-video{
            // height: 200px;
            // width: 300px;
            height: 20vh;
            width: 20vw;
            display: flex;
            background-color: black;
            margin-right: 5px;
            // flex-wrap: wrap;
            margin-bottom: 3%;
           
        }

        .s-p-s-v-description-container{
            display: flex;
            flex-direction: column;
            margin-bottom: 5%;
            margin-left: 5px;


        }
        .event-text-t{
            font-weight: bold;
            margin-bottom: 6px;
            font-family: 'Roboto', sans-serif;
        }
        .event-text{
            margin-bottom: 6px;
            font-family: 'Roboto', sans-serif;
            color: rgb(59, 59, 59);
            font-size: 13px;
        }





    

    
    

    
